<div class="container text-center">
    <img class="mb-4" src="https://cdn.onlinewebfonts.com/svg/img_249555.png" alt="" width="72" height="72">
    <br>
    <input type="text" id="inpurl" class="form-control" placeholder="Enter your URL here..." required="" autofocus="">
    <br>
    <input type="text" id="outurl" class="form-control" placeholder="Your shortened Url..." required="" disabled>
    <br>
    <button id="btn" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</div>